<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CMU Interactive Data</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1> <center>Interactive Data Science Byte 1 </center></h1>
	<br>
	<p> <center> <font size="5"> Where have school shootings occurred in the United States from 2010-2017? </font> </center> </p>
	<br>
	<p> <center> <font size="3">  This interactive map shows where school shooting have taken place over the last 7 years. You can click on each marker 
	and get a count of the deaths and injuries that happend at each incident. Other data I would have liked to include in this byte would be the urban vs rural distinction of school schooting, and the type of gun policies in each state. </font> </center> </p>


	<center> <iframe width="500" height="300" scrolling="no" 
	frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col1+from+1bCZ0e6-By1_0aYr1ZkeqQ73CrbxAIsyHsmV4_1uu&amp;viz=MAP&amp;h=false&amp;lat=37.59216136714104&amp;lng=-96.71278722500006&amp;t=1&amp;z=4&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=GEOCODABLE"></iframe></center>




	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>